@if (products) {
  <div class="flex flex-col gap-3">
    <div class="flex justify-between gap-3">
      <div class="w-[200px]"></div>

      <form
        class="relative flex items-center max-w-md mx-4"
        #searchForm="ngForm"
        (ngSubmit)="onSearchChange()">
        <input
          name="search"
          [(ngModel)]="storeParams.search"
          placeholder="Search a book"
          type="search"
          class="block w-full p-4 text-sm text-gray-900 border-gray-300 rounded-lg min-w-[200px]"/>
        <button
          mat-icon-button
          type="submit"
          class="absolute inset-y-0 right-8 top-2 flex items-center pl-3">
          <mat-icon>search</mat-icon>
        </button>
      </form>

      <div class="flex justify-between gap-4">
        <button
          class="match-input-height"
          mat-stroked-button
          (click)="openFiltersDialog()"
        >
          <mat-icon>filter_list</mat-icon>
          Filters
        </button>
        <button
          class="match-input-height"
          mat-stroked-button
          [mat-menu-trigger-for]="sortMenu">
          <mat-icon>swap_vert</mat-icon>
          Sort
        </button>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
      @for (product of products.data; track product.id) {
        <p>{{ product.name }}</p>
        <!-- <app-product-item [product]="product"></app-product-item>-->
      }
    </div>
    <app-ukrainian-paginator
      class="bg-white"
      (page)="handlePageEvent($event)"
      [length]="products.count"
      [pageSize]="storeParams.pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="storeParams.pageNumber - 1"
      aria-label="Select page"
    ></app-ukrainian-paginator>
  </div>

  <mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
      @for (sort of sortOptions; track $index) {
        <mat-list-option [value]="sort.value" [selected]="storeParams.sort === sort.value">
          {{ sort.name }}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-menu>
}
