<div>
  <h3 class="text-3xl text-center pt-6 mb-3 text-primary">Додати тег</h3>
  <mat-divider></mat-divider>
  <form class="flex flex-col justify-center items-center p-8">
    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>Автор</mat-label>
      <input [formControl]="tagForm.controls.name" matInput placeholder="Назва тегу" type="text" [matAutocomplete]="tagAuto"/>
      <mat-autocomplete  #tagAuto="matAutocomplete">
        @for (tag of storeService.getTags() | async; track $index) {
          <mat-option [value]="tag.name">{{tag.name}}</mat-option>
        }
      </mat-autocomplete>
      @if (tagForm.controls.name.hasError('required')) {
        <mat-error>Назва тегу є обов'язковим полем</mat-error>
      }
      @if (tagForm.controls.name.hasError('minlength')) {
        <mat-error>Назва тегу має містити мінімум 3 символи</mat-error>
      }
      @if (tagForm.controls.name.hasError('maxlength')) {
        <mat-error>Значення поля автор довге! Має бути не більше 20 символів</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full mb-4">
      <!--<p-colorPicker [formControl]="tagForm.controls.hexColor" se />-->
      <mat-label>Кольор</mat-label>
      <input [formControl]="tagForm.controls.hexColor" matInput placeholder="Кольор" type="text"/>
      @if (tagForm.controls.hexColor.hasError('required')) {
        <mat-error>Кольор є обов'язковим полем</mat-error>
      }
      @if (tagForm.controls.hexColor.hasError('pattern')) {
        <mat-error>Кольор має бути hex-кодом</mat-error>
      }
    </mat-form-field>
    <div class="flex justify-center pt-2 pb-6 gap-4">
      <button mat-flat-button [disabled]="tagForm.invalid" type="button" (click)="onSubmit()">Додати</button>
      <button mat-flat-button (click)="close()">Скасувати</button>
    </div>
  </form>
</div>
